  <div class="row">
     <div class="col-lg-12 col-md-12">
        <div class="panel panel-white">
        
            <div class="panel-body">



            </div>
        </div> 
    </div>
</div>





<div class="row" style="min-height: 700px">
    <div class="col-md-6 center" style="margin-top:10%; ">
        <div class="login-box panel panel-white">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                      
                            <div class="row">
                                <div class="col-md-6 col-sm-offset-2">
                                    <label class="panel-title">Please login into your account.</label>
                                </div>
                            </div>
                            <br/>
                           
                            <br/> <br/> 
                            <div class="form-group">
                             
                                
                                    <div class="form-group">
                                       <form ng-submit="PLC.loginAdmin()">
                                        <h4>Username</h4>
                                        <input type="text" class="form-control" ng-model="PLC.username">
                                        <h4>Password</h4>
                                        <input type="password" class="form-control" ng-model="PLC.password">
                                        <p ng-show="errorMessage" class="help-block">{{errorMessage}}</p>
                                        <button style="margin-top: 16px" id="loginAdmin" ng-disabled="!PLC.username || !PLC.password" type="submit" class="btn btn-primary ">Login</button>
                                    </form>
                                    </div>
                                   
                             </div>                           
                        
                                   
            
            </div>
        </div>
    </div>
</div>
</div>
</div>